# Compiled executable
cryptovote
cryptovote.exe # If compiling on Windows

# Object files
*.o
*.obj

# Editor/IDE specific files (examples)
.vscode/

# OS specific files
.DS_Store # macOS
Thumbs.db # Windows